/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* display: flex; */
  min-height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: #abd0de;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-links .link {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.sidebar {
  width: 250px;
  background-color: #abd0de;
  color: white;
  position: fixed;
  top: 60px; /* height of the header */
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
}

.sidebar-list {

  list-style-type: none;
  padding: 0;
}
.sidebar-list li :hover{
  color: #abd0de;
  background-color: white;
}

.sidebar-item {
  padding: 10px 20px;
  width: 100px;
}

.sidebar-item a {
  color: white;
  text-decoration: none;
}

.content {
  margin-left: 250px; /* width of the sidebar */
  margin-top: 60px; /* height of the header */
  padding: 20px;
  width: calc(100% - 250px); /* adjust content width */
  overflow-y: auto;
}

#profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cretecontact{
  width: 400px;
  background-color: #abd0de;
  border-radius: 10px;
}

.success{
  background-color: white;
  color:#abd0de;
border: 0px;
}